openapi: '3.0.0'
info:
  version: 1.0.0
  title: Alchemetryx Consulting API
  license:
    name: MIT
servers:
  - url: https://api.alchemetryx.com/v1
paths:
  /consultations:
    get:
      summary: List all consultations
      operationId: listConsultations
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of consultations
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consultations'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a consultation
      operationId: createConsultation
      responses:
        201:
          description: Consultation created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /consultations/{consultationId}:
    get:
      summary: Info for a specific consultation
      operationId: showConsultationById
      parameters:
        - name: consultationId
          in: path
          required: true
          description: The id of the consultation to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consultations'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /clients:
    get:
      summary: List all clients
      operationId: listClients
      parameters:
        - name: status
          in: query
          description: Filter clients by status
          required: false
          schema:
            type: string
      responses:
        200:
          description: A paged array of clients
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clients'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a client
      operationId: createClient
      responses:
        201:
          description: Client created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects:
    get:
      summary: List all projects
      operationId: listProjects
      parameters:
        - name: phase
          in: query
          description: Filter projects by current phase
          required: false
          schema:
            type: string
      responses:
        200:
          description: A paged array of projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a project
      operationId: createProject
      responses:
        201:
          description: Project created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Consultation:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        status:
          type: string
    Consultations:
      type: array
      items:
        $ref: '#/components/schemas/Consultation'
    Client:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        industry:
          type: string
    Clients:
      type: array
      items:
        $ref: '#/components/schemas/Client'
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        phase:
          type: string
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string